.wrapper {
	@include outer-container();
	@include clearfix();
}

.header {
	@include span-columns(3);
	@include shift(-3);
}

.main {
	@include span-columns(11);
	@include omega();
	margin-top: 20px;
}

.test {
	background-color: red;
}

.post-thumb {
	@include span-columns(6);
	@include omega(2n);
	margin-bottom: 20px;
	min-height: 209px;
	position: relative;
}

.centered {
	@include span-columns(6);
	@include shift(3);
}

.comment {
	width: 50%;
	margin: 10px 0;
}

.right {
	float: right;
}

.left {
	float: left;
}