@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "layout";
@import "fonts";
@import "form";


/*
----------------------------------------
 * Color
----------------------------------------
*/
	$blue: #34AADC;
	$lightBlue: #D1EEFC;
	$grey: #EDEDED;
	$darkGrey: #575D63;
	$almostWhite: #FCFCFC;
	$eggShell: #EFEFEF;
	$green: #4CD964;
	$lightGreen: #E0F8D8;
	$red: #B72D16;
	$salmon: #E74C3C;

/*
----------------------------------------
 * General
----------------------------------------
*/
	html {
		font-size: 16px;
		position: relative;
		height: 100%;
		background-color: $grey;
		font-family: $body;
	}

	body {
		margin: 0;
		min-height: 100%;
		@include shift(3);
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	.pad {
		padding: 10px;
	}
	
	.box {
		background-color: white;
		border-radius: 3px;
		border: 1px solid #ccc;
	}

/*
----------------------------------------
 * Buttons
----------------------------------------
*/
	.btn {
		display: inline-block;
		padding: 10px 20px;
		border-radius: 3px;
		border: none;
		color: #FEFEFE;
		font-size: .9em;
		text-align: center;

		&:hover {
			color: white;
		}
	}

	.btn-wide {
		display: block;
		width: 100%;
	}
	
	.btn-thin {
		padding: 5px 10px;
	}
	
	.btn-attention {
		font-size: .9em;
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: white;
		border-radius: 0 0 3px 3px;
		padding: 10px 0;
		background-color: $salmon;

		&:hover {
			background-color: $red;
		}
	}
	
	.btn-setting {
		@include linear-gradient(#FEFEFE, #F5F5F5);
		color: $darkGrey;
		border: 1px solid #ccc;

		&:hover {
			color: $salmon;
		}
	}

	.pad > .btn-attention {
		margin: 0 -10px;
	}

	.btn-area {
	 	@include clearfix();
	 	.btn {
			margin-left: 5px;
		}
	}

	.btn-add, .btn-login, .btn-register {
		background-color: $green;
	}

	.btn-edit {
		background-color: $blue;
	}

	.btn-remove {
		@include linear-gradient(#FB2B69, #FF5B37);
	}

	button:hover {
		@include transition (all .5s ease-in-out);
	}

/*
----------------------------------------
 * Typo
----------------------------------------
*/
	h1, h2, h3 {
		font-family: $headings;
	}
	
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	a {
		color: $salmon;
		text-decoration: none;

		&:hover {
			@include transition (all .5s ease-in-out);
		}
	}
	
	.title-link {
		color: initial;
	}

	.title {
		margin-bottom: 5px;
		margin-top: 0;
	}

/*
----------------------------------------
 * Forms
----------------------------------------
*/
	.input-wide {
		width: 100%;
		margin-bottom: 20px;
	}

	.input-content {
		min-height: 300px;
	}
	
	textarea {
		resize: vertical;
	}

	.comment-form > textarea {
		min-height: 100px;
	}

	.login-form, .register-form, .comment-form {
		.btn {
			margin-top: 10px;
		}

		input {
			width: 100%;
		}
		
		label {
			color: black;
		}

		input[type="checkbox"] {
			display: inline;
			width: initial;
		}
	}
/*
----------------------------------------
 * Header
----------------------------------------
*/
	.header {
		background-color: $almostWhite;
		position: fixed;
		height: 100%;
		border-right: 1px solid #ccc;
		
		.logo, h3 {
			color: $darkGrey;
		}	

		p {
			color: #999;
		}
	}

	.logo {
		font-size: 2em;
		color: white;
	}

	.projects-list li {
		margin: 5px 0;
	}

/*
----------------------------------------
 * Posts
----------------------------------------
*/
	.post-thumbs, .post, .post-header {
		@include clearfix();
	}

	.post-title {
		margin-top: 0;
	}

	.post-content {
		margin-top: 20px;
	}

	.post-excerpt {
		font-style: italic;
	}

/*
----------------------------------------
 * Project
----------------------------------------
*/
	.created {
		font-style: italic;
		font-size: .9em;
	}
	
	.project-header {
		@include clearfix();
	}

	.content {
		clear: both;
	}


/*
----------------------------------------
 * Comments
----------------------------------------
*/
	.comment {
		@include clearfix();
		border-radius: 3px;
		border: 1px solid #ddd;

		.btn:first-child {
			margin-left: 0;
		}
	}

	.author-comment {
		background-color: $lightBlue;
		float: right;
		clear: right;
		position: relative;

		
	}
	
	.ribbon-wrapper {
		position: absolute;
		width: 98px;
		height: 88px;
		top: 17px;
		right: -22px;
	}
	
	.ribbon {
		text-align: center;
		font-size: .9em;
		@include linear-gradient(#FB2B69, #FF5B37);
		color: white;
		-webkit-transform: rotate(45deg);
	}

	.ribbon:before, .ribbon:after {
	  	content: "";
	  	position: absolute;
	}
	
	.ribbon:before {
		@include triangle(24px, $grey, up-left);
		bottom: -4px;
		right: 74px;
	}
	
	.ribbon:after {
		@include triangle(24px, $grey, up-right);
		bottom: -4px;
		right: -2px;
	}

	.user-comment {
		background-color: $lightGreen;
	}
